style
	.status0{background-color: white}
	.statusundefined{background-color: white}
	.status1{background-color: #cdeb8b}
	.status2{background-color: #ff0084}
	.status3{background-color: #c79810}
.row-fluid(data-bind="foreach: calendar")
	section
		.page-header
			h3(data-bind="text: $root.monthNames[time.getMonth()] + '/' + time.getFullYear()")  
		.row-fluid
			// cdeb8b
			// ff0084
			div(style="display:table; width:100%")
				div(style="display:table-row",data-bind="foreach: days")
					//ko if: $index() < 15
					span(style="display: table-cell",data-bind="attr: {class :  'status'+$data.value },text:  date.getDate()")
					///ko
				div(style="display:table-row",data-bind="foreach: days")
					//ko if: $index() > 14
					span(style="display: table-cell",data-bind="attr: {class :  'status'+$data.value},text:  date.getDate()")
					///ko
