.row-fluid
	.alert
		p You have 
			span.badge.badge-important 3
			|  uncommited 
			a changes 
			span.pull-right
				a.btn.btn-primary Commit
				&nbsp;
				a.btn Discard
.row-fluid
	.alert
		p You have 
			span.badge.badge-important 3
			|  uncommited 
			a changes 
			span.pull-right
				a.btn.btn-primary Commit
				&nbsp;
				a.btn Discard
		ul.unstyled
			li
				label.checkbox.inline Double @ full board, half board, only room: from 01/05/2012 to 08/082012 set to open
					a 
						i.icon-trash
						|Delete this action
					input(type="checkbox")
			li
				label.checkbox.inline Single @ full board, half board, only room: from 09/11/2012 to 22/11/2012 set to close
					a 
						i.icon-trash
						|Delete this action
					input(type="checkbox")
			li
				label.checkbox.inline Single individual use @ full board, half board, only room: from 01/05/2012 to 08/082012 set to close
					a 
						i.icon-trash
						|Delete this action
					input(type="checkbox")
