extends layout
block scripts
	script(type="text/javascript", src="/js/inflection.js")
	script(type="text/javascript", src="/js/jquery-ui-1.9.1.custom.js")
	script(type="text/javascript", src="/js/slosilo.js")
	script(type="text/javascript", src="/js/project.js")
	script(type="text/javascript")
		$(function(){
			$.getJSON(window.location + '?_=' + new Date().getTime(), function(data){
			var model = window.model = new MODELS.Project(data);
			MODELS.PROJECT.extendProject(model);
				ko.applyBindings(model);
			//	$('#loading').toggle();
			//	$('#loaded').toggle();
				$('title').text(data.name);
			});
		});
block content
	header#register.jumbotron.subhead
		.container-fluid
			h1 Project
				small bla bla
	.container-fluid
		include partials/messages
		.page-header
			h1 Availability  
				small Notify suscriptors about your cutoffs
		//include partials/project-pendant-changes
		.row-fluid
			.span6
		.row-fluid
			.span5
				include partials/project-changeset
			.span7
				include partials/project-calendar	
