extends layout
block scripts
	script(type="text/javascript", src="/js/inflection.js")
	script(type="text/javascript", src="/js/jquery-ui-1.9.1.custom.js")
	script(type="text/javascript", src="/js/slosilo.js")
	script(type="text/javascript", src="/js/project.js")
	script(type="text/javascript")
		$(function(){
			$.getJSON(window.location + '?_=' + new Date().getTime(), function(data){
			var model = window.model = new MODELS.Project(data);
			MODELS.PROJECT.extendProject(model);
				ko.applyBindings(model);
			//	$('#loading').toggle();
			//	$('#loaded').toggle();
				$('title').text(data.name);
			});
		});
block content
	header#register.jumbotron.subhead
		.container-fluid
			h1 Project
				small bla bla
	.container-fluid
		include partials/messages
		.page-header
			h1 Availability  
				small Notify suscriptors about your cutoffs
			p.lead You are watching/editing availability from April 2013 to October 2013
		//include partials/project-pendant-changes
		.pagination
			ul
				li
					a &laquo;
				li.active
					a 2013
				li
					a 2014
				li
					a &raquo;
				li
					a J
				li
					a F
				li
					a M
				li.active
					a A
				li
					a M
				li
					a J
				li
					a J
				li
					a A
				li
					a S
				li
					a O
				li
					a N
				li
					a D
				li
					select
						option full year
						option 1 month
						option 2 month
						option 3 month
						option 4 month
						option 5 month
						option 6 month
						option 7 month
						option 8 month
						option 9 month
						option 10 month
						option 11 month
						option 12 month
		.row-fluid
			.span6
		.row-fluid
			.span5
				include partials/project-changeset
			.span7
				include partials/project-calendar	
