extends layout
block scripts
	script(type="text/javascript", src="/javascripts/hotel-products.js")

block context
	mixin hotelnav
block notifications
block content
	.row-fluid
		.alert
			p You have 
				span.badge.badge-important 3
				|  uncommited 
				a changes 
				span.pull-right
					a.btn.btn-primary Commit
					&nbsp;
					a.btn Discard
	.row-fluid
		.alert
			p You have 
				span.badge.badge-important 3
				|  uncommited 
				a changes 
				span.pull-right
					a.btn.btn-primary Commit
					&nbsp;
					a.btn Discard
			ul.unstyled
				li
					label.checkbox.inline Double @ full board, half board, only room: from 01/05/2012 to 08/082012 set to open
						a 
							i.icon-trash
							|Delete this action
						input(type="checkbox")
				li
					label.checkbox.inline Single @ full board, half board, only room: from 09/11/2012 to 22/11/2012 set to close
						a 
							i.icon-trash
							|Delete this action
						input(type="checkbox")
				li
					label.checkbox.inline Single individual use @ full board, half board, only room: from 01/05/2012 to 08/082012 set to close
						a 
							i.icon-trash
							|Delete this action
						input(type="checkbox")
	.page-header
		h1 Availability  
			small Notify suscriptors about your cutoffs
	.row-fluid
		.span3
			.row-fluid
				form.well
					fieldset
						legend Elements
						p.help-block Set availability for the following elements
						label.checkbox Double @ full board
							input(type="checkbox")
						label.checkbox Double @ full board
							input(type="checkbox")
						label.checkbox Double @ full board
							input(type="checkbox")
						label.checkbox Double @ full board
							input(type="checkbox")
						p 
							span.label.label-info Hey!
							|  You can also cut availabilty for specific rules.
							br 
							a What does this mean?
							br 
							|I understand. 
							a I want to add one.
						.row-fluid
							.span6
								label from
									input.input-small(type="date")
							.span6
								label to
									input.input-small(type="date")
						label.select.inline Set to
							select.span8
								option Open
								option Closed
						p.help-block 
							a How can I set "on request"?
						p.help-block Notify the following companies:
						label.checkbox Everybody
							input(type="checkbox")
						label.checkbox Viajes ou llea
							input(type="checkbox")
						label.checkbox That stupid portal
							input(type="checkbox")
						label.checkbox Teletubbies
							input(type="checkbox")

					a.btn.btn-primary 
						i.icon-plus.icon-white
						|Append change
					p.help-block Do not worry. You can undo this action later




		.span9
			.row-fluid
				form.well.form-inline
					label Show cutoffs from 
						input.input-small(type="date")
					label to
						input.input-small(type="date")
					button.btn.btn-primary Update
					label.checkbox Display all elements.  
						a What is this?
						input(type="checkbox")
					
			.row-fluid
				.page-header
					h3 January
				.row-fluid
					table.table.table-condensed
						caption Double @ only room
						tbody
							tr
								td(style="background-color:#cdeb8b") 1
								td(style="background-color:#cdeb8b") 2
								td(style="background-color:#cdeb8b") 3
								td(style="background-color:#cdeb8b") 4
								td(style="background-color:#cdeb8b") 5
								td(style="background-color:#ff0084") 6
								td(style="background-color:#cdeb8b") 7
								td(style="background-color:#cdeb8b") 8
								td(style="background-color:#ff0084") 9
								td(style="background-color:#cdeb8b") 10
								td(style="background-color:#cdeb8b") 11
								td(style="background-color:#cdeb8b") 12
								td(style="background-color:#ff0084") 13
								td(style="background-color:#ff0084") 14
								td(style="background-color:#ff0084") 15
								td(style="background-color:#cdeb8b") 16
								td(style="background-color:#cdeb8b") 17
								td(style="background-color:#cdeb8b") 18
								td(style="background-color:#cdeb8b") 19
								td(style="background-color:#ff0084") 20
								td(style="background-color:#cdeb8b") 21
								td(style="background-color:#cdeb8b") 22
								td(style="background-color:#cdeb8b") 23
								td(style="background-color:#cdeb8b") 24
								td(style="background-color:#cdeb8b") 25
								td(style="background-color:#cdeb8b") 26
								td(style="background-color:#cdeb8b") 27
								td(style="background-color:#cdeb8b") 28
								td(style="background-color:#cdeb8b") 29
								td(style="background-color:#cdeb8b") 30
								td(style="background-color:#cdeb8b") 31
					table.table.table-condensed
						caption Double @ half board
						tbody
							tr
								td(style="background-color:#cdeb8b") 1
								td(style="background-color:#cdeb8b") 2
								td(style="background-color:#cdeb8b") 3
								td(style="background-color:#cdeb8b") 4
								td(style="background-color:#cdeb8b") 5
								td(style="background-color:#ff0084") 6
								td(style="background-color:#cdeb8b") 7
								td(style="background-color:#cdeb8b") 8
								td(style="background-color:#ff0084") 9
								td(style="background-color:#cdeb8b") 10
								td(style="background-color:#cdeb8b") 11
								td(style="background-color:#cdeb8b") 12
								td(style="background-color:#ff0084") 13
								td(style="background-color:#ff0084") 14
								td(style="background-color:#ff0084") 15
								td(style="background-color:#cdeb8b") 16
								td(style="background-color:#cdeb8b") 17
								td(style="background-color:#cdeb8b") 18
								td(style="background-color:#cdeb8b") 19
								td(style="background-color:#ff0084") 20
								td(style="background-color:#cdeb8b") 21
								td(style="background-color:#cdeb8b") 22
								td(style="background-color:#cdeb8b") 23
								td(style="background-color:#cdeb8b") 24
								td(style="background-color:#cdeb8b") 25
								td(style="background-color:#cdeb8b") 26
								td(style="background-color:#cdeb8b") 27
								td(style="background-color:#cdeb8b") 28
								td(style="background-color:#cdeb8b") 29
								td(style="background-color:#cdeb8b") 30
								td(style="background-color:#cdeb8b") 31
					table.table.table-condensed
						caption Double @ full board
						tbody
							tr
								td(style="background-color:#cdeb8b") 1
								td(style="background-color:#cdeb8b") 2
								td(style="background-color:#cdeb8b") 3
								td(style="background-color:#cdeb8b") 4
								td(style="background-color:#cdeb8b") 5
								td(style="background-color:#ff0084") 6
								td(style="background-color:#cdeb8b") 7
								td(style="background-color:#cdeb8b") 8
								td(style="background-color:#ff0084") 9
								td(style="background-color:#cdeb8b") 10
								td(style="background-color:#cdeb8b") 11
								td(style="background-color:#cdeb8b") 12
								td(style="background-color:#ff0084") 13
								td(style="background-color:#ff0084") 14
								td(style="background-color:#ff0084") 15
								td(style="background-color:#cdeb8b") 16
								td(style="background-color:#cdeb8b") 17
								td(style="background-color:#cdeb8b") 18
								td(style="background-color:#cdeb8b") 19
								td(style="background-color:#ff0084") 20
								td(style="background-color:#cdeb8b") 21
								td(style="background-color:#cdeb8b") 22
								td(style="background-color:#cdeb8b") 23
								td(style="background-color:#cdeb8b") 24
								td(style="background-color:#cdeb8b") 25
								td(style="background-color:#cdeb8b") 26
								td(style="background-color:#cdeb8b") 27
								td(style="background-color:#cdeb8b") 28
								td(style="background-color:#cdeb8b") 29
								td(style="background-color:#cdeb8b") 30
								td(style="background-color:#cdeb8b") 31
					table.table.table-condensed
						caption Single @ only room
						tbody
							tr
								td(style="background-color:#cdeb8b") 1
								td(style="background-color:#cdeb8b") 2
								td(style="background-color:#cdeb8b") 3
								td(style="background-color:#cdeb8b") 4
								td(style="background-color:#cdeb8b") 5
								td(style="background-color:#ff0084") 6
								td(style="background-color:#cdeb8b") 7
								td(style="background-color:#cdeb8b") 8
								td(style="background-color:#cdeb8b") 9
								td(style="background-color:#cdeb8b") 10
								td(style="background-color:#cdeb8b") 11
								td(style="background-color:#cdeb8b") 12
								td(style="background-color:#cdeb8b") 13
								td(style="background-color:#cdeb8b") 14
								td(style="background-color:#cdeb8b") 15
								td(style="background-color:#cdeb8b") 16
								td(style="background-color:#cdeb8b") 17
								td(style="background-color:#cdeb8b") 18
								td(style="background-color:#cdeb8b") 19
								td(style="background-color:#cdeb8b") 20
								td(style="background-color:#cdeb8b") 21
								td(style="background-color:#cdeb8b") 22
								td(style="background-color:#cdeb8b") 23
								td(style="background-color:#cdeb8b") 24
								td(style="background-color:#cdeb8b") 25
								td(style="background-color:#cdeb8b") 26
								td(style="background-color:#cdeb8b") 27
								td(style="background-color:#cdeb8b") 28
								td(style="background-color:#ff0084") 29
								td(style="background-color:#ff0084") 30
								td(style="background-color:#ff0084") 31
					table.table.table-condensed
						caption Single @ half board
						tbody
							tr
								td(style="background-color:#cdeb8b") 1
								td(style="background-color:#cdeb8b") 2
								td(style="background-color:#cdeb8b") 3
								td(style="background-color:#cdeb8b") 4
								td(style="background-color:#cdeb8b") 5
								td(style="background-color:#ff0084") 6
								td(style="background-color:#cdeb8b") 7
								td(style="background-color:#cdeb8b") 8
								td(style="background-color:#cdeb8b") 9
								td(style="background-color:#cdeb8b") 10
								td(style="background-color:#cdeb8b") 11
								td(style="background-color:#cdeb8b") 12
								td(style="background-color:#cdeb8b") 13
								td(style="background-color:#cdeb8b") 14
								td(style="background-color:#cdeb8b") 15
								td(style="background-color:#cdeb8b") 16
								td(style="background-color:#cdeb8b") 17
								td(style="background-color:#cdeb8b") 18
								td(style="background-color:#cdeb8b") 19
								td(style="background-color:#cdeb8b") 20
								td(style="background-color:#cdeb8b") 21
								td(style="background-color:#cdeb8b") 22
								td(style="background-color:#cdeb8b") 23
								td(style="background-color:#cdeb8b") 24
								td(style="background-color:#cdeb8b") 25
								td(style="background-color:#cdeb8b") 26
								td(style="background-color:#cdeb8b") 27
								td(style="background-color:#cdeb8b") 28
								td(style="background-color:#ff0084") 29
								td(style="background-color:#ff0084") 30
								td(style="background-color:#ff0084") 31
					table.table.table-condensed
						caption Single @ full board
						tbody
							tr
								td(style="background-color:#cdeb8b") 1
								td(style="background-color:#cdeb8b") 2
								td(style="background-color:#cdeb8b") 3
								td(style="background-color:#cdeb8b") 4
								td(style="background-color:#cdeb8b") 5
								td(style="background-color:#ff0084") 6
								td(style="background-color:#cdeb8b") 7
								td(style="background-color:#cdeb8b") 8
								td(style="background-color:#cdeb8b") 9
								td(style="background-color:#cdeb8b") 10
								td(style="background-color:#cdeb8b") 11
								td(style="background-color:#cdeb8b") 12
								td(style="background-color:#cdeb8b") 13
								td(style="background-color:#cdeb8b") 14
								td(style="background-color:#cdeb8b") 15
								td(style="background-color:#cdeb8b") 16
								td(style="background-color:#cdeb8b") 17
								td(style="background-color:#cdeb8b") 18
								td(style="background-color:#cdeb8b") 19
								td(style="background-color:#cdeb8b") 20
								td(style="background-color:#cdeb8b") 21
								td(style="background-color:#cdeb8b") 22
								td(style="background-color:#cdeb8b") 23
								td(style="background-color:#cdeb8b") 24
								td(style="background-color:#cdeb8b") 25
								td(style="background-color:#cdeb8b") 26
								td(style="background-color:#cdeb8b") 27
								td(style="background-color:#cdeb8b") 28
								td(style="background-color:#ff0084") 29
								td(style="background-color:#ff0084") 30
								td(style="background-color:#ff0084") 31
			.row-fluid
				.page-header
					h3 February
				.row-fluid
					table.table.table-condensed
						caption Double @ only room
						tbody
							tr
								td(style="background-color:#cdeb8b") 1
								td(style="background-color:#cdeb8b") 2
								td(style="background-color:#cdeb8b") 3
								td(style="background-color:#cdeb8b") 4
								td(style="background-color:#cdeb8b") 5
								td(style="background-color:#ff0084") 6
								td(style="background-color:#cdeb8b") 7
								td(style="background-color:#cdeb8b") 8
								td(style="background-color:#ff0084") 9
								td(style="background-color:#cdeb8b") 10
								td(style="background-color:#cdeb8b") 11
								td(style="background-color:#cdeb8b") 12
								td(style="background-color:#ff0084") 13
								td(style="background-color:#ff0084") 14
								td(style="background-color:#ff0084") 15
								td(style="background-color:#cdeb8b") 16
								td(style="background-color:#cdeb8b") 17
								td(style="background-color:#cdeb8b") 18
								td(style="background-color:#cdeb8b") 19
								td(style="background-color:#ff0084") 20
								td(style="background-color:#cdeb8b") 21
								td(style="background-color:#cdeb8b") 22
								td(style="background-color:#cdeb8b") 23
								td(style="background-color:#cdeb8b") 24
								td(style="background-color:#cdeb8b") 25
								td(style="background-color:#cdeb8b") 26
								td(style="background-color:#cdeb8b") 27
								td(style="background-color:#cdeb8b") 28
					table.table.table-condensed
						caption Double @ half board
						tbody
							tr
								td(style="background-color:#cdeb8b") 1
								td(style="background-color:#cdeb8b") 2
								td(style="background-color:#cdeb8b") 3
								td(style="background-color:#cdeb8b") 4
								td(style="background-color:#cdeb8b") 5
								td(style="background-color:#ff0084") 6
								td(style="background-color:#cdeb8b") 7
								td(style="background-color:#cdeb8b") 8
								td(style="background-color:#ff0084") 9
								td(style="background-color:#cdeb8b") 10
								td(style="background-color:#cdeb8b") 11
								td(style="background-color:#cdeb8b") 12
								td(style="background-color:#ff0084") 13
								td(style="background-color:#ff0084") 14
								td(style="background-color:#ff0084") 15
								td(style="background-color:#cdeb8b") 16
								td(style="background-color:#cdeb8b") 17
								td(style="background-color:#cdeb8b") 18
								td(style="background-color:#cdeb8b") 19
								td(style="background-color:#ff0084") 20
								td(style="background-color:#cdeb8b") 21
								td(style="background-color:#cdeb8b") 22
								td(style="background-color:#cdeb8b") 23
								td(style="background-color:#cdeb8b") 24
								td(style="background-color:#cdeb8b") 25
								td(style="background-color:#cdeb8b") 26
								td(style="background-color:#cdeb8b") 27
								td(style="background-color:#cdeb8b") 28
					table.table.table-condensed
						caption Double @ full board
						tbody
							tr
								td(style="background-color:#cdeb8b") 1
								td(style="background-color:#cdeb8b") 2
								td(style="background-color:#cdeb8b") 3
								td(style="background-color:#cdeb8b") 4
								td(style="background-color:#cdeb8b") 5
								td(style="background-color:#ff0084") 6
								td(style="background-color:#cdeb8b") 7
								td(style="background-color:#cdeb8b") 8
								td(style="background-color:#ff0084") 9
								td(style="background-color:#cdeb8b") 10
								td(style="background-color:#cdeb8b") 11
								td(style="background-color:#cdeb8b") 12
								td(style="background-color:#ff0084") 13
								td(style="background-color:#ff0084") 14
								td(style="background-color:#ff0084") 15
								td(style="background-color:#cdeb8b") 16
								td(style="background-color:#cdeb8b") 17
								td(style="background-color:#cdeb8b") 18
								td(style="background-color:#cdeb8b") 19
								td(style="background-color:#ff0084") 20
								td(style="background-color:#cdeb8b") 21
								td(style="background-color:#cdeb8b") 22
								td(style="background-color:#cdeb8b") 23
								td(style="background-color:#cdeb8b") 24
								td(style="background-color:#cdeb8b") 25
								td(style="background-color:#cdeb8b") 26
								td(style="background-color:#cdeb8b") 27
								td(style="background-color:#cdeb8b") 28
					table.table.table-condensed
						caption Single @ only room
						tbody
							tr
								td(style="background-color:#cdeb8b") 1
								td(style="background-color:#cdeb8b") 2
								td(style="background-color:#cdeb8b") 3
								td(style="background-color:#cdeb8b") 4
								td(style="background-color:#cdeb8b") 5
								td(style="background-color:#ff0084") 6
								td(style="background-color:#cdeb8b") 7
								td(style="background-color:#cdeb8b") 8
								td(style="background-color:#cdeb8b") 9
								td(style="background-color:#cdeb8b") 10
								td(style="background-color:#cdeb8b") 11
								td(style="background-color:#cdeb8b") 12
								td(style="background-color:#cdeb8b") 13
								td(style="background-color:#cdeb8b") 14
								td(style="background-color:#cdeb8b") 15
								td(style="background-color:#cdeb8b") 16
								td(style="background-color:#cdeb8b") 17
								td(style="background-color:#cdeb8b") 18
								td(style="background-color:#cdeb8b") 19
								td(style="background-color:#cdeb8b") 20
								td(style="background-color:#cdeb8b") 21
								td(style="background-color:#cdeb8b") 22
								td(style="background-color:#cdeb8b") 23
								td(style="background-color:#cdeb8b") 24
								td(style="background-color:#cdeb8b") 25
								td(style="background-color:#cdeb8b") 26
								td(style="background-color:#cdeb8b") 27
								td(style="background-color:#cdeb8b") 28
					table.table.table-condensed
						caption Single @ half board
						tbody
							tr
								td(style="background-color:#cdeb8b") 1
								td(style="background-color:#cdeb8b") 2
								td(style="background-color:#cdeb8b") 3
								td(style="background-color:#cdeb8b") 4
								td(style="background-color:#cdeb8b") 5
								td(style="background-color:#ff0084") 6
								td(style="background-color:#cdeb8b") 7
								td(style="background-color:#cdeb8b") 8
								td(style="background-color:#cdeb8b") 9
								td(style="background-color:#cdeb8b") 10
								td(style="background-color:#cdeb8b") 11
								td(style="background-color:#cdeb8b") 12
								td(style="background-color:#cdeb8b") 13
								td(style="background-color:#cdeb8b") 14
								td(style="background-color:#cdeb8b") 15
								td(style="background-color:#cdeb8b") 16
								td(style="background-color:#cdeb8b") 17
								td(style="background-color:#cdeb8b") 18
								td(style="background-color:#cdeb8b") 19
								td(style="background-color:#cdeb8b") 20
								td(style="background-color:#cdeb8b") 21
								td(style="background-color:#cdeb8b") 22
								td(style="background-color:#cdeb8b") 23
								td(style="background-color:#cdeb8b") 24
								td(style="background-color:#cdeb8b") 25
								td(style="background-color:#cdeb8b") 26
								td(style="background-color:#cdeb8b") 27
								td(style="background-color:#cdeb8b") 28
					table.table.table-condensed
						caption Single @ full board
						tbody
							tr
								td(style="background-color:#cdeb8b") 1
								td(style="background-color:#cdeb8b") 2
								td(style="background-color:#cdeb8b") 3
								td(style="background-color:#cdeb8b") 4
								td(style="background-color:#cdeb8b") 5
								td(style="background-color:#ff0084") 6
								td(style="background-color:#cdeb8b") 7
								td(style="background-color:#cdeb8b") 8
								td(style="background-color:#cdeb8b") 9
								td(style="background-color:#cdeb8b") 10
								td(style="background-color:#cdeb8b") 11
								td(style="background-color:#cdeb8b") 12
								td(style="background-color:#cdeb8b") 13
								td(style="background-color:#cdeb8b") 14
								td(style="background-color:#cdeb8b") 15
								td(style="background-color:#cdeb8b") 16
								td(style="background-color:#cdeb8b") 17
								td(style="background-color:#cdeb8b") 18
								td(style="background-color:#cdeb8b") 19
								td(style="background-color:#cdeb8b") 20
								td(style="background-color:#cdeb8b") 21
								td(style="background-color:#cdeb8b") 22
								td(style="background-color:#cdeb8b") 23
								td(style="background-color:#cdeb8b") 24
								td(style="background-color:#cdeb8b") 25
								td(style="background-color:#cdeb8b") 26
								td(style="background-color:#cdeb8b") 27
								td(style="background-color:#cdeb8b") 28
