extends layout
block head
	link(href='/css/flick/jquery-ui-1.10.0.custom.css', rel='stylesheet')
block scripts
	script(type="text/javascript", src="/js/inflection.js")
	script(type="text/javascript", src="/js/jquery-ui-1.10.0.custom.js")
	script(type="text/javascript", src="/js/slosilo.js")
	script(type="text/javascript", src="/js/project.js")
	script(type="text/javascript")
		$(function(){
			$.getJSON(window.location + '?_=' + new Date().getTime(), function(data){
			var model = window.model = new MODELS.Project(data);
			model.resource= function(){
				return'/project/' + model._id();
			};
			MODELS.PROJECT.extendProject(model);
				ko.applyBindings(model);
			//	$('#loading').toggle();
			//	$('#loaded').toggle();
				$('title').text(data.name);
			});
		});
block content
	header#register.jumbotron.subhead
		.container-fluid
			h1 Project
				small bla bla
	.container-fluid
		include partials/messages
		.page-header
			h1 Availability  
				small Notify suscriptors about your cutoffs
			p.lead You are watching/editing availability from&nbsp;
				span(data-bind="text: $root.monthNames[$root.from().getMonth()]")
				| &nbsp;
				span(data-bind="text : selectedYear")
				| &nbsp;to 
				span(data-bind="text: $root.monthNames[$root.to().getMonth()]")
				| &nbsp;
				span(data-bind="text: (new Date(to())).getFullYear()")
		//include partials/project-pendant-changes
		p.alert.alert-warning(data-bind="visible: currentChanges") you have something to commit
			span(data-bind="text: currentChanges");
		.pagination
			ul
				li
					select(data-bind="options: fromYearValues,  value: selectedYear")
				//ko foreach: fromMonthValues
				li(data-bind="attr : { class : $root.selectedMonth() === $data && 'active'}")
					a(data-bind="text: text, click: $root.setSelectedMonth")
				///ko
				li
					select(data-bind="options: timeWindow,  value: selectedTimeWindow,  optionsText:'text'")
		.row-fluid
			.span6
		.row-fluid
			.span5
				include partials/project-changeset
			.span7
				include partials/project-calendar	
